{% extends "modules/base.html" %}
{% block title %}Tournament{% endblock %}
{% block content %}
{% include "modules/navbar.html" %}
<div style="margin: 0 auto; max-width: 95vw; width: 20rem; text-align: center; padding: 0.5rem; margin-bottom: 1rem;" class="alert alert-danger hide-empty">{{ERROR}}</div>
<div style="margin: 0 auto; max-width: 95vw; width: 20rem; text-align: center; padding: 0.5rem; margin-bottom: 1rem;" class="alert alert-success hide-empty">{{SUCCESS}}</div>
<form style="width: 20rem; margin: 0 auto; max-width: 95vw;" class="input-group mb-3" id="tournament-invite">
  <input style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;" type="text" class="form-control" name="username" id="friend-username-input" placeholder="Insert username..." />
  <button type="submit" class="btn btn-outline-primary">Invite to tournament</button>
</form>
<h3 style="text-align: center">Invite online friends</h3>
{% for friend in friends %}
  {% include "tournament/friend.html" %}
{% endfor %}
{% for player in players %}
  <h1>{{player.username}}</h1>
{% endfor %}
<script type="module" src="/static/tournament/invite.js"></script>
{% endblock %}