<style>
.friend-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
<div style="width: 15rem;" class="card">
	<div class="card-header">
		<a href="/profile/?id={{friend.id}}">{{friend.username}}</a>
		{{friend.status}}
	</div>
	<div class="d-flex flex-wrap md-nowrap gap-2 card-body friend-button-container">
		<form id="tournament-invite">
			<input style="display: none;" type="text" name="username" value={{friend.username}}>
			<button type="submit" class="btn btn-primary">Invite to tournament</button>
		</form>
	</div>
</div>