<div style="width: 15rem;" class="card">
	<div class="card-header">
		Tournament organized by
		<a href="/profile/?id={{tournament.organizer.id}}" style="text-decoration: none;">{{tournament.organizer.username}}</a>
	</div>
	<div class="d-flex flex-wrap md-nowrap gap-2 card-body friend-button-container">
		<form style="width: 100%;" id="tournament-invite">
			<input style="display: none;" type="text" name="username" value={{tournament.organizer.username}}>
			<div style="display: flex; flex-direction: column; gap: 0.5rem; justify-content: center; align-items: center; width: 100%;">
				<a class="btn btn-primary" href="/tournament/lobby/?id={{tournament.organizer.id}}">
					{% if tournament.state.value == "unregistered" %}
						Register
					{% else %}
						Join lobby
					{% endif %}
				</a>
			</div>
		</form>
	</div>
</div>