{% extends "modules/base.html" %}
{% block title %}Tournament{% endblock %}
{% block content %}
{% include "modules/navbar.html" %}
<div id="pong-container">
  <h2 style="text-align: center">{{organizer.username}}'s tournament</h2>
  <h3 style="text-align: center">Players</h3>
  {% for player in players %}
  <div style="text-align: center">
    <a href="/profile/?id={{player.id}}">{{player.username}}</a>
  </div>
  {% endfor %}
  {% if tournament.started %}
  <button class="btn btn-primary" id="join-running-game">Join running game</a>
  <script type="module" src="/static/tournament/lobby.js"></script>
  {% endif %}
</div>
<script type="module" src="/static/pong/PongSocket.js"></script>
{% endblock %}