{% extends "modules/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% include "modules/navbar.html" %}

<header>
</header>
<main>
    <section>
        <div class="container">
            <div class="row mb-3"> 
                <div class="col-10 bg-secondary d-flex align-items-center justify-content-center">
                    <h2>{{ user.user.username }}</h2>
                </div>
                <div class="col-2" style="background-color: transparent;">
                    {% load static %}
                    <img class="img-fluid"
                    src="{% if user.user.userprofile.avatar %}{{ user.user.userprofile.avatar.url }}{% else %}{% static 'images/avatar-transparent.png' %}{% endif %}" 
                    alt="avatar"
                    style="background-color: transparent;"
                    width="150" 
                    height="150"/>
                </div>
            </div>
            <div class="row mb-3 border d-flex 
            align-items-center text-center
            py-3">
                <h2>Stats:</h2>
            </div>
            <div class="row mb-3 border d-flex 
            align-items-center text-center
            py-3"> 
                <h2>Match history:</h2>
            </div>
        </div>
    </section>
</main>
<footer>
</footer>
   
{% endblock %}