{% extends "modules/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% include "modules/navbar.html" %}

<header>
</header>
<main>
    <section>
        <div class="container">
            <div class="row"> 
                <div class="col"> 
                    <h2>{{ user.user.username }}</h2>
                </div>
                <div class="col">
                    {% load static %}
                    <img src="{% if user.user.userprofile.avatar %}{{ user.user.userprofile.avatar.url }}{% else %}{% static 'images/avatar.png' %}{% endif %}" alt="avatar"/>
                    {% comment %} <img src="{%static 'images/avatar.png'%}" alt="avatar"/> {% endcomment %}
                </div>
            </div>
            <div class="row"> 
                stats:
            </div>
            <div class="row"> 
                Match history:
            </div>
        </div>
    </section>
</main>
<footer>
</footer>
   
{% endblock %}