{% extends "base.html" %}
{% block title %}Login/Register{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/global/style.css">
<div class="d-flex flex-column align-items-center justify-content-center login-registration-form"
	style="height: 100vh; padding: 1rem;">
	<p class="alert alert-danger hide-empty">{{ ERROR_MESSAGE }}</p>
	<div class="accordion" id="accordion-login-register">
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-login" aria-expanded="true" aria-controls="collapse-login">
					Login
				</button>
			</h2>
			<div id="collapse-login" class="accordion-collapse collapse show"
				data-bs-parent="#accordion-login-register">
				<div class="accordion-body">
					<form class="accordion-body" id="login">
						{% csrf_token %}
						<h1>Login</h1>
						<div class="mb-3">
							<label class="form-label">Username</label>
							<input name="username" type="text" class="form-control">
						</div>
						<div class="mb-3">
							<label class="form-label">Password</label>
							<input name="password" type="password" class="form-control">
						</div>
						<button type="submit" class="btn btn-primary">Login</button>
					</form>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="accordion-button" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-register" aria-expanded="true" aria-controls="collapse-register">
					Register
				</button>
			</h2>
			<div id="collapse-register" class="accordion-collapse collapse" data-bs-parent="#accordion-login-register">
				<div class="accordion-body">
					<form class="accordion-body" id="register">
						{% csrf_token %}
						<h1>Register</h1>
						<div class="mb-3">
							<label class="form-label">Username</label>
							<input name="username" type="text" class="form-control">
						</div>
						<div class="mb-3">
							<label class="form-label">Password</label>
							<input name="password" type="password" class="form-control">
						</div>
						<button type="submit" class="btn btn-primary">Register</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="module" src="/static/auth/accordion.js"></script>
<script type="module" src="/static/auth/login.js"></script>
<script type="module" src="/static/auth/register.js"></script>
{% endblock %}