{% extends "modules/base.html" %}
{% block title %}Friend List{% endblock %}
{% block content %}
{% include "modules/navbar.html" %}
<form style="width: 20rem; margin: 0 auto;" class="input-group mb-3" id="add-friend-form">
	<input type="text" class="form-control" name="message" id="message-input"
		placeholder="Insert friend username...">
	<button type="submit" class="btn btn-outline-primary">Add friend</button>
</form>
<ul style="list-style-type: none; margin: 0; padding: 0; display: flex; align-items: center; flex-direction: column;;">
	{% for friend in friends %}
	{% with user=friend %}
	{% include "modules/friend.html" %}
	{% endwith %}
	{% endfor %}
</ul>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Send message</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<form class="input-group mb-3" id="send-message-form">
					<input type="text" class="form-control" name="message" id="message-input"
						placeholder="Type your message...">
					<button type="submit" class="btn btn-outline-primary">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="/static/friends/message.js"></script>
<script src="/static/friends/add-friend.js"></script>
{% endblock %}