<style>
	#pong-container {
	  display: flex;
	  justify-content: center;
	  overflow: hidden;
	}
  
	#pong-container > canvas {
	  max-height: 80vh;
	  margin-bottom: 2vh;
	}
</style>

{% extends 'modules/base.html' %}
{% block title %}Pong{% endblock %}
{% block content %}
  {% include 'modules/navbar.html' %}

  <div class="container">
    <div class="title-section">
      <h2 class="fw-bold">Games</h2>
    </div>
    <div class="container text-center mt-5">
      <h1 class="mb-4" id="title">Select a game mode</h1>
      <div style="display: flex; flex-direction: column; gap: 10px;align-items: center; justify-content: center;">
          <button class="btn btn-primary btn-small" id="multiplayer"style="width: 200px;">Local Multiplayer</button>
          <button class="btn btn-primary" id="tournament" style="width: 200px;">Create a tournament</button>
          <button class="btn btn-primary" id="friends" style="width: 200px;">Play with a friend</button>
      </div>
      <div id="pong-container" style="width: 100%; height: 80vh;"></div>
    </div>
  </div>

  <script type="module" src="/static/games/games.js"></script>
{% endblock %}
