{% extends "modules/base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
{% include "modules/navbar.html" %}

<h1>Settings</h1>

<form id="settings-form">
    {% csrf_token %}
    <h2> Personal information</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{ user.username }}" required>
    <br><br>
    <label for="avatar">Upload Avatar:</label>
    <input type="file" id="avatar" name="avatar">
    {% if profile.avatar %}
        <br><br>
        <img src="{{ profile.avatar.url }}" alt="Current Avatar" width="100" height="100">
    {% endif %}
    <br><br>
    <h2> Authentication</h2>
    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" value="{{ user.email }}" required>
    <br><br>

    <label for="2fa">Enable Two-Factor Authentication (2FA):</label>
    <input type="checkbox" id="2fa" name="is_2fa_enabled" 
           {% if profile.is_2fa_enabled %}checked{% endif %}>
    <br><br>

    <button type="submit">Save Changes</button>
</form>

{% if message %}
    <p style="color: green;">{{ message }}</p>
{% endif %}

<script type="module" src="/static/auth/settings.js"></script>
{% endblock %}
