<div class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Send message</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="">
					<button class="btn btn-outline-primary" id="send-message">Button</button>
				</div>
			</div>
		</div>
	</div>
</div>