<nav style="margin-bottom: 1rem;" class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler"
			aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-toggler">
			<a class="navbar-brand" href="/">Transcendence</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="/settings/">Settings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/friends/">Friends</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/play/">Play</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/auth/?logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>