{% extends 'modules/base.html' %}
{% block title %}Play{% endblock %}
{% block content %}
  {% include 'modules/navbar.html' %}
	<div class="alert alert-danger hide-empty">{{ error }}</div>
	<div class="alert alert-success hide-empty">{{ success }}</div>
  <h3 style="text-align: center">Friends</h3>
  {% for friend in friends %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{friend.username}}</h5>
        <a class="btn btn-primary" href="/pong/lobby/?opponent={{friend.username}}">Invite to play</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
