<style>
	/* #pong-glob {
	  position: relative;
	} */

	#pong-container {
	  display: flex;
	  justify-content: center;
	  overflow: hidden;
	  position: relative
	}
  
	#pong-container > canvas {
	  max-height: 80vh;
	  margin-bottom: 2vh;
	}
  
	#pong-names {
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	  width: 100%;
	  font-size: 20px;
	  font-weight: bold;
	  color: white;
	  position: fixed;
	  bottom: 20px;
	  left: 0;
	  text-align: center;
	}
  
	#player-container {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
  
	.score {
	  font-size: 16px;
	  font-weight: normal;
	  margin-top: 5px;
	}
	
</style>
  
{% block content %}
<div id="pong-container">
<canvas></canvas>
</div>

<div id="pong-names">
<div class="player-container"> 
	<span id="player-score" class="badge bg-primary">0</span> 
	<div class="score">Player 1</div>
</div>

<div class="player-container"> 
	<span id="opponent-score" class="badge bg-danger">0</span> 
	<div class="score">Player 2</div>
</div>
</div>
{% endblock %}
