{% extends 'modules/base.html' %}
{% block title %}
  Friend List
{% endblock %}
{% block content %}
  {% include 'modules/navbar.html' %}
  <div style="margin: 0 auto; max-width: 95vw; width: 20rem; text-align: center; padding: 0.5rem; margin-bottom: 1rem;" class="alert alert-danger hide-empty">{{ERROR_MESSAGE}}</div>
  <div style="margin: 0 auto; max-width: 95vw; width: 20rem; text-align: center; padding: 0.5rem; margin-bottom: 1rem;" class="alert alert-success hide-empty">{{SUCCESS_MESSAGE}}</div>
  {% include 'friendlist/add-friend.html' %}
  {% for user in invitesReceived %}
  	{% include 'friendlist/pending-invite.html' %}
  {% endfor %}
  <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; align-items: center; flex-direction: column;">
    {% for friend in friends %}
      {% include 'friendlist/friend.html' %}
    {% endfor %}
  </ul>
  {%for user in invitesSent%}
  <div class="card">
	<div class="card-body">
		<div>Waiting for {{user.username}} to accept friendship...</div>
	</div>
</div>
  {%endfor%}
  {% include 'friendlist/message-modal.html' %}
  <script src="/static/friends/message.js"></script>
  <script type="module" src="/static/friends/add-friend.js"></script>
{% endblock %}
