<style>
.friend-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.friend-button {
	margin: 0.2rem;
}
</style>
<div style="width: 30rem;" class="card">
	<div class="card-header">
		{{friend.username}}
	</div>
	<div class="card-body friend-button-container">
		<button data-bs-toggle="modal" data-bs-target="#exampleModal" 
		id="open-chat-modal" user-id={{friend.id}} class="btn friend-button btn-primary">Send message</button>
		<button id="remove-friend" user-id={{friend.id}} class="btn friend-button btn-danger">Remove friend</button>
	</div>
</div>