<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h1 class="modal-title fs-5 text-center" id="chatModalLabel">
            {% comment %} <a href="#" id="chatModalUserLink" class="text-decoration-none text-primary"></a> {% endcomment %}
          </h1>
          <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="messages-container" class="modal-body">
        </div>
        <div class="modal-footer">
          <form class="input-group mb-3" id="send-message-form">
            <input type="text" class="form-control" name="message" id="message-input" placeholder="Type your message..." />
            <button id="send-message" type="submit" class="btn btn-outline-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>